<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ค้นพบ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="ion-no-border">

    <h3 size="large" style="margin-left:20px"><b>SMHome ยินดีต้อนรับสู่บ้าน</b></h3>
    <p style="margin-left:20px; margin-right: 20px;">
      มาดูกันว่าการเพิ่มความสะดวกสบายและความปลอดภัยที่มากขึ้นให้บ้านของคุณนั้นทำได้ง่ายดายแค่ไหน</p>

  </ion-header>
  <ion-card>
    <img src="assets/images/home.png" />
    <ion-card-header>
      <ion-card-title>เริ่มต้นสร้างบ้านอัจฉริยะของคุณ</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      สร้างบ้านอัจฉริยะด้วยอุปกรณ์ Arduino เครื่องโปรดของคุณ
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/images/light.png" />
    <ion-card-header>
      <ion-card-title>
        แสงไฟ
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      เปิดปิดไฟผ่าน Application ช่วยให้กิจวัตรประจำวันง่ายขึ้น
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/images/comfort.png" />
    <ion-card-header>
      <ion-card-title>
        ความสบาย
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      ไม่ว่าจะอยู่ที่ใดของบ้าน ก็สามารถเปิดปิดการใช้งานเครื่องใช้ไฟฟ้าได้อย่างสะดวก
    </ion-card-content>
  </ion-card>


</ion-content>