<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon slot="start" style="font-size:20px; margin-left: 10px;" name="home-outline" (click)="presentAlertRadio()">
    </ion-icon>
    <ion-title>
      บ้านของฉัน
    </ion-title>
    <ion-icon slot="end" style="font-size:25px; margin-right: 10px;" name="add-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">{{myHome}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card (click)="discover()">
    <img
      src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8c21hcnQlMjBob21lfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80" />
    <ion-card-header>

      <h3 style="color: black;"><b>ค้นพบบ้าน</b></h3>
      <p style="color: black;">สำรวจโอกาสในการเพิ่มอุปกรณ์เสริมไปยังบ้านของคุณด้วยวิธีง่ายๆ</p>

    </ion-card-header>
    <ion-card-content style="background-color: rgb(255, 177, 9); color: white;">
      <br>
     <b>เรียนรู้เพิ่มเติม ></b>
    </ion-card-content>
  </ion-card>


  <ion-grid>
    <p style="margin-left:20px;">อุปกรณ์เสริม</p>
    <ion-card *ngIf="device.length == 0" style="width: 120px; max-width: 120px; max-height: 120px;">
      <ion-card-header>
        <ion-icon style="font-size: 35px;" name="add"></ion-icon>
        <p style="font-size: 12px;">เพิ่มอุปกรณ์เสริม</p>
      </ion-card-header>
    </ion-card>

    <ion-row *ngIf="myHome != 'บ้านของฉัน'" style="text-align: center;" size-lg="2" size-md="2" size-sm="2" size="2">
      <ion-col *ngFor="let item of device; let i= index">
        <ion-card style="width: 120px; max-width: 120px; max-height: 120px;"
          (click)="OpenOrClose(item,i)">
          <ion-card-header>
            <ion-icon *ngIf="item.type == 'light' && item.status == false" style="font-size: 35px;" name="bulb-outline">
            </ion-icon>
            <ion-icon *ngIf="item.type == 'curtain' && item.status == false" style="font-size: 35px;"
              name="tablet-portrait-outline"></ion-icon>
            <ion-icon *ngIf="item.type == 'fan' && item.status == false" style="font-size: 35px;" name="flower-outline">
            </ion-icon>

            <ion-icon *ngIf="item.type == 'light' && item.status == true" style="font-size: 35px;" name="bulb"
              color="warning">
            </ion-icon>
            <ion-icon *ngIf="item.type == 'curtain' && item.status == true" style="font-size: 35px;"
              name="tablet-portrait"></ion-icon>
            <ion-icon *ngIf="item.type == 'fan' && item.status == true" style="font-size: 35px;" name="flower"
              color="secondary">
            </ion-icon>
            <p style="font-size: 12px;">{{item.name}}</p>
          </ion-card-header>
        </ion-card>
      </ion-col>

    </ion-row>

    <!-- <ion-row *ngFor="let items of Obj" style="text-align: center;">
      <ion-col>
      </ion-col>
      <ion-col *ngFor="let item of items">
        <ion-card style="width: 120px; max-width: 120px; max-height: 120px;" (click)="OpenOrClose(item)">
          <ion-card-header>
            <ion-icon *ngIf="item.type == 'light' && item.status == false" style="font-size: 35px;" name="bulb-outline">
            </ion-icon>
            <ion-icon *ngIf="item.type == 'curtain' && item.status == false" style="font-size: 35px;"
              name="tablet-portrait-outline"></ion-icon>
            <ion-icon *ngIf="item.type == 'fan' && item.status == false" style="font-size: 35px;" name="flower-outline">
            </ion-icon>

            <ion-icon *ngIf="item.type == 'light' && item.status == true" style="font-size: 35px;" name="bulb">
            </ion-icon>
            <ion-icon *ngIf="item.type == 'curtain' && item.status == true" style="font-size: 35px;"
              name="tablet-portrait"></ion-icon>
            <ion-icon *ngIf="item.type == 'fan' && item.status == true" style="font-size: 35px;" name="flower">
            </ion-icon>
            <p style="font-size: 12px;">{{item.name}}</p>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
      </ion-col>

    </ion-row> -->

  </ion-grid>

</ion-content>